---
http_interactions:
- request:
    method: post
    uri: https://sms.ru/callback/add?json=1
    body:
      encoding: US-ASCII
      string: url=https%3A%2F%2Fexample.com%2Fsms%2Fcallback&api_id=<API_ID>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Sms-Api:
      - '1'
    body:
      encoding: UTF-8
      string: |-
        {
            "status": "OK",
            "status_code": 100,
            "callback": [
                "https:\/\/example.com\/sms\/callback"
            ]
        }
  recorded_at: Thu, 25 Jun 2026 18:38:29 GMT
- request:
    method: post
    uri: https://sms.ru/callback/get?json=1
    body:
      encoding: US-ASCII
      string: api_id=<API_ID>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Sms-Api:
      - '1'
    body:
      encoding: UTF-8
      string: |-
        {
            "status": "OK",
            "status_code": 100,
            "callback": [
                "https:\/\/example.com\/sms\/callback"
            ]
        }
  recorded_at: Thu, 25 Jun 2026 18:38:29 GMT
- request:
    method: post
    uri: https://sms.ru/callback/del?json=1
    body:
      encoding: US-ASCII
      string: url=https%3A%2F%2Fexample.com%2Fsms%2Fcallback&api_id=<API_ID>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Sms-Api:
      - '1'
    body:
      encoding: UTF-8
      string: |-
        {
            "status": "OK",
            "status_code": 100
        }
  recorded_at: Thu, 25 Jun 2026 18:38:29 GMT
recorded_with: VCR 6.4.0
