---
http_interactions:
- request:
    method: post
    uri: https://sms.ru/my/free?json=1
    body:
      encoding: US-ASCII
      string: api_id=<API_ID>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Sms-Api:
      - '1'
    body:
      encoding: UTF-8
      string: |-
        {
            "status": "OK",
            "status_code": 100,
            "total_free": 5,
            "used_today": null
        }
  recorded_at: Thu, 25 Jun 2026 18:01:55 GMT
recorded_with: VCR 6.4.0
